@media(min-width: 768px){
    .navbar-form .form-control {
        display: inline-block;
        width: 300px;    <---- Change this e.g. width: 100px;
        vertical-align: middle;
    }
}

html, body{
    height:100%; /* important to vertically align the container */
    width:100%;
    margin:0;
    padding:0;
}

.container {
    min-width:1200px;
}