<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    
	<http auto-config="true">
		<access-denied-handler error-page="/accessdenied" />	
		<intercept-url pattern="/books/**" access="isAnonymous()" />
		<intercept-url pattern="/addBook*" access="isAnonymous()" />
		<intercept-url pattern="/cars" access="isAuthenticated()" />
		<intercept-url pattern="/cars" access="hasRole('ROLE_ADMIN')" method="POST"/>		
		<intercept-url pattern="/cars/**" access="hasRole('ROLE_ADMIN')" method="POST"/>				
		<intercept-url pattern="/addCar*" access="hasRole('ROLE_ADMIN')" />
		<form-login default-target-url="/cars" authentication-failure-url="/accessdenied"/>
		<logout logout-success-url="/" />
		<csrf/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<!-- 
			<user-service>
				<user name="user" password="user" authorities="ROLE_USER" />
				<user name="admin" password="admin" authorities="ROLE_ADMIN, ROLE_USER" />
			</user-service>
			 -->
			<jdbc-user-service data-source-ref="dataSource" 
				users-by-username-query="select username as username, password as password, enabled as enabled from users where username = ?"
				authorities-by-username-query="select username as username, authority as authority from authorities where username = ?"/>
		</authentication-provider>	
	</authentication-manager>
</beans:beans>